// Layout Style

.container-fluid.start {
    margin-top: 65px;
    height: calc(100vh - 65px);
    min-height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    h1 {
        font-family: "Paytone One";
        text-transform: uppercase;
        margin: 10px auto;
        color: #c44ef3;
        font-size: 12vw;
        letter-spacing: -0.5vw;
        line-height: 1vw;
        text-shadow: 0 0.8vw 0.6vw #8538a3,0 -0.3vw 0.2vw #de9bf8;
        span {
          display: block;
          line-height: 22vw;
        }
    }
}

.navbar {
    background: rgb(251,251,251);
    background: linear-gradient(180deg, #fbfbfbdc 0%, #ebebebdc 100%);
    backdrop-filter: blur(6px);
    padding: 0.8rem 1rem;
    .navbar-collapse {
        @media (max-width: 768px){
            margin: 20px 0px;
        }
        @include center-text-small-screens;
    }
    .navbar-toggler {
        border: 0px;
        &:focus,:active {
            outline: none;
            box-shadow: none;
        }
    }
    .navbar-brand {
        height: 40px;
        width: auto;
        align-self: flex-start;
        justify-self: flex-start;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.container-fluid {
    min-height: 100vh;
    padding: 8vh 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:nth-child(even) div.row.info{
        flex-direction: row-reverse;
        text-align: right;
        @include center-text-small-screens;
    }
    &.start {
        background-color: #bf35f5;
    }
    &.portfolio-happy {
        background-color: #f8f8f8;
        background-image: url("../img/portfolio/happy-bg.webp");
        color: #080a3a;
    }
    &.portfolio-sheep {
        background-color: #61a446;
        background-image: url("../img/portfolio/sheep-bg.webp");
        color: #ffffff;
    }
    &.portfolio-marmor {
        background-color: #dbdadf;
        background-image: url("../img/portfolio/marmor-bg.webp");
        color: #292929
    }
    &.portfolio-dealr {
        background-color: #dc4c4b;
        background-image: url("../img/portfolio/dealr-bg.webp");
        color: #ffffff;
    }
    &.portfolio-arena {
        background-color: #9cbcd2;
        background-image: url("../img/portfolio/arena-bg.webp");
        color: #464646;
    }
    &.end {
        background-color: #bf35f5;
        color: #ffffff;
        min-height: auto;
    }
}

.container {
    .row.logo img {
        width: 60%;
        max-width: 400px;
        height: auto; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 8vh;
        align-self: flex-start;
    }
    .row.info {
        @include center-text-small-screens;
        img {
            max-width: 80%;
            max-height: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            @media (max-width: 768px){
                padding-bottom: 9vh;
            }
        }
        
    }
}



#kontakta{
    margin-top: 10vh;
    a.icons {
        font-size: 3em;
        margin: 10px 5px;
        display: inline-block;
    }
    a:link {
        color: #ffffff;
        text-decoration: underline;
    }
    a:visited {
      color: #ffffff;
    }
    a:hover {
      color: #ffffff;
    }
    a:active {
      color: #ffffff;
    }
}
